In [25]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib

In [26]:
df1 = pd.read_csv('bengaluru_house_prices.csv')

In [27]:
df1

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [28]:
df2 = df1.drop(['area_type','availability','society','balcony'],axis='columns')

In [29]:
df3 = df2.dropna()

In [30]:
df3

                       location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13246 rows x 5 columns]

In [31]:
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [62]:
df3['bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))
df3.bhk.unique()

C:\Users\hardi\AppData\Local\Temp\ipykernel_4400\2716584372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18])

In [34]:
df3

                       location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13246 rows x 5 columns]

In [35]:
df2.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [36]:
def sqft_to_float(x):
    tokens=x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try: 
        return float(x)
    except:
        return None

In [37]:
df4 = df3.copy()
df4.total_sqft = df4.total_sqft.apply(sqft_to_float)

In [38]:
df4.total_sqft.unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [39]:
df4

                       location       size  total_sqft  bath   price
0      Electronic City Phase II      2 BHK      1056.0   2.0   39.07
1              Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00
2                   Uttarahalli      3 BHK      1440.0   2.0   62.00
3            Lingadheeranahalli      3 BHK      1521.0   3.0   95.00
4                      Kothanur      2 BHK      1200.0   2.0   51.00
...                         ...        ...         ...   ...     ...
13315                Whitefield  5 Bedroom      3453.0   4.0  231.00
13316             Richards Town      4 BHK      3600.0   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK      1141.0   2.0   60.00
13318           Padmanabhanagar      4 BHK      4689.0   4.0  488.00
13319              Doddathoguru      1 BHK       550.0   1.0   17.00

[13246 rows x 5 columns]

In [40]:
df5 = df4.copy()

In [41]:
df5['price_per_sqft'] = df5['price']*100000/df5['total_sqft']

In [42]:
location_states = df5.location.value_counts()

In [43]:
len(location_states[location_states>=10])

253

In [44]:
location_states_lesser_than_10 = location_states[location_states<=10]

In [45]:
location_states_lesser_than_10

location
Nagadevanahalli                    10
Sadashiva Nagar                    10
BTM 1st Stage                      10
Naganathapura                      10
Gunjur Palya                       10
                                   ..
KAMAKIYA                            1
Wheelers Road                       1
MM Layout                           1
Devarabeesana Halli                 1
beml layout, basaveshwara nagar     1
Name: count, Length: 1063, dtype: int64

In [46]:
df5['location'] = df5.location.apply(lambda x:'other' if x in location_states_lesser_than_10 else x)

In [47]:
df5.location

0        Electronic City Phase II
1                Chikka Tirupathi
2                     Uttarahalli
3              Lingadheeranahalli
4                        Kothanur
                   ...
13315                  Whitefield
13316                       other
13317       Raja Rajeshwari Nagar
13318             Padmanabhanagar
13319                Doddathoguru
Name: location, Length: 13246, dtype: object

In [48]:
len(df5.location.unique())

242

In [51]:
df5 = df5.drop('size',axis='columns')

In [52]:
df5

                       location  total_sqft  bath   price  price_per_sqft
0      Electronic City Phase II      1056.0   2.0   39.07     3699.810606
1              Chikka Tirupathi      2600.0   5.0  120.00     4615.384615
2                   Uttarahalli      1440.0   2.0   62.00     4305.555556
3            Lingadheeranahalli      1521.0   3.0   95.00     6245.890861
4                      Kothanur      1200.0   2.0   51.00     4250.000000
...                         ...         ...   ...     ...             ...
13315                Whitefield      3453.0   4.0  231.00     6689.834926
13316                     other      3600.0   5.0  400.00    11111.111111
13317     Raja Rajeshwari Nagar      1141.0   2.0   60.00     5258.545136
13318           Padmanabhanagar      4689.0   4.0  488.00    10407.336319
13319              Doddathoguru       550.0   1.0   17.00     3090.909091

[13246 rows x 5 columns]

In [58]:
df6 = df5[~(df5.total_sqft/df5.bhk<300)]

AttributeError: 'DataFrame' object has no attribute 'bhk'

In [57]:
df6.shape

(47, 5)